body {
    box-sizing: border-box;
    width: 100%;
}

img {
    width: 100%;
}

#second-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "leftimage quote";
    #left-image {
        grid-area: leftimage;
    }
    #we-believe-quote {
        grid-area: quote;
        text-align: center;
        border-style: solid;
        border: 2px solid var(--orange);
        border-left: none;
        border-right: none;
        margin: 265.5px 0 265.5px 16px;
    }
}

#gallery-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "one twothree";
    #gallery-1 {
        grid-area: one;
    }
    #gallery-2-3 {
        grid-area: twothree;
    }
}