/* =============
    Hero
============= */

#hero {
    background-color: var(--purple);
    #content {
        margin-top: 78px;
        h1 {
            color: var(--white);
            margin-bottom: 25px;
        }
        p {
            color: rgba(255,255,255,0.8);
            margin-bottom: 35px;
        }
    }
}
