/* =============
    Hero
============= */

#content {
    margin-top: 146px;
    display: grid;
    grid-template-columns: 44% auto;
    div {
        h1 {
            font-size: rem-calc(60);
            font-weight: 600;
            color: var(--white);
            font-size: rem-calc(62);
        }
        p {
            color: rgba(255,255,255,0.8);
            margin-top: 25px;
            margin-bottom: 35px;
            font-weight: 400;
            font-size: rem-calc(18);
            line-height: 1.5;
        }
    }
    aside {
        img {
            margin-top: -68px;
            margin-left: 37px;
        }
    }
}

