/* =============
    How
============= */

#how {
    .header {
        color: var(--black);
        margin-top: 181px;
        margin-bottom: 30px;
        text-align: center;
    }
    .slider-heading {
        color: var(--black);
        margin-bottom: 60px;
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        li {
            margin: 0px 30px 50px 30px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            text-align: center;
            h2 {
                color: rgba(0,0,0,0.7);
                padding-top: 50px;
                padding-bottom: 20px;
            }
            h1 {
                color: var(--black);
                padding-bottom: 40px;
            }
            p {
                color: rgba(0,0,0,0.7);
                padding-bottom: 40px;
            }
        }
    }
}