/* =============
    Footer
============= */

footer {
    background-color: var(--darkblue);
    #footer-top {
        padding: 100px 210px 79px 210px;
        color: rgba(255,255,255,0.7);
        display: flex;
        #first-section {
            margin-right: 102px;
            img {
                display: flex;
                margin-bottom: 30px;
            }
            p {
                display: flex;
                font-weight: 400;
                font-size: rem-calc(14);
            }
            #social-media-links {
                margin-top: 31px;
                display: flex;
                li {
                    margin-right: 25px;
                    a:link, a:visited{
                        height: 30px;
                        width: 30px;
                        border: 1px solid rgba(255,255,255,0.11);
                        border-radius: 100%;
                        color: rgba(255,255,255,0.7);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.25s;
                    }
                    a:hover, a:active{

                        color: var(--skyblue);
                        border: 1px solid rgba(255,255,255,0.11);
                    }
                }
            }
        }
        #resources {
            margin-right: 80px;
            h2 {
                margin-bottom: 30px;
                color: var(--white);
                font-weight: 500;
                font-size: rem-calc(22);
            }
            ul {
                li {
                    margin-bottom: 10px;
                    a:link, a:visited{
                        color: rgba(255,255,255,0.7);
                        transition: 0.25s;
                        font-weight: 400;
                        font-size: rem-calc(16);
                    }
                    a:hover, a:active{
                        color: var(--skyblue);
                        font-weight: 400;
                        font-size: rem-calc(16);
                    }
                }
            }
        }
        #useful-links {
            margin-right: 96px;
            h2 {
                margin-bottom: 30px;
                color: var(--white);
                font-weight: 500;
                font-size: rem-calc(22);
            }
            ul {
                li {
                    margin-bottom: 10px;
                    a:link, a:visited{
                        color: rgba(255,255,255,0.7);
                        transition: 0.25s;font-weight: 400;
                        font-size: rem-calc(16);
                    }
                    a:hover, a:active{
                        color: var(--skyblue);
                        font-weight: 400;
                        font-size: rem-calc(16);
                    }
                }
            }
        }
        #newsletter {
            h2 {
                margin-bottom: 30px;
                color: var(--white);
                font-weight: 500;
                font-size: rem-calc(22);
            }
            p {
                color: rgba(255,255,255,0.7);
                font-weight: 400;
                font-size: rem-calc(14);
            }
            form {
                margin-top: 25px;
                display: inline-block;
                input{
                    border: 1px solid #ffffff50;
                    border-right: none;
                    background-color: var(--darkblue);
                    padding: 14px 5px;
                    border-radius: 5px 0px 0px 5px;
                    font-weight: 500;
                    font-size: rem-calc(16);
                }
                #send-button {
                    color: var(--white);
                    background-color: var(--skyblue);
                    padding: 15px 30px;
                    margin-left: -4px;
                    border-radius: 0 5px 5px 0;
                    transition: .25s;
                    font-weight: 500;
                    font-size: rem-calc(16);
                }
                #send-button:hover {
                    color: var(--white);
                    background-color: #ffffff50;
                    padding: 15px 30px;
                    margin-left: -4px;
                    border-radius: 0 5px 5px 0;
                    font-weight: 500;
                    font-size: rem-calc(16);
                }
            }
        }
    }
    #footer-bottom {
        margin-top: 30px;
        p {
            color: rgba(255,255,255,0.7);
            text-align: center;
            padding-bottom: 35px;
        }
    }
}