/* =============
    Header
============= */

header {
  padding: 22px 24px;
  display: grid;
  grid-template-columns: auto 8%;
  grid-template-areas:
    "logo soccer"
    "nav nav";

  @include md {
    grid-template-columns: 50% auto 4%;
  }

  #logo {
    grid-area: logo;
    display: flex;
    align-items: center;
  }

  #soccerball {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: soccer;
  }

  nav {
    grid-area: nav;
  }
}
