/* =============
    Buttons
============= */

.blue-button {
    background-color: var(--skyblue);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 5px;
}

button {
    border: none;
}
