/* =============
    Navigation
============= */

a {
    text-decoration: none;
    
}

nav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
            list-style: none;
            margin-left: 40px;
            margin-right: 0px;
            a:link, a:visited {
                color: rgba(255,255,255,0.8);
                font-size: rem-calc(18);
                font-weight: 400;
                transition: .25s;
            }
            a:hover, a:active {
                color: var(--skyblue);
            }
        }
    }
}