/* =============
    Navigation
============= */

.showNavs {
  display: block !important;
}

a {
  text-decoration: none;
}

#navs {
  ul {
    display: none;
    @include lg {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    li {
      flex-direction: column;
      align-items: flex-end;
      flex-direction: row;
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
      padding: 28px 30px;
      @include lg {
        border: none;
      }
      a:link,
      a:visited {
        display: inline-block;
        color: rgba(0, 0, 0, 0.7);
        transition: 0.25s;
      }
      a:hover,
      a:active {
        color: skyblue;
      }
    }
  }
  .sign-in-btn {
    background-color: #024a58;
    color: white;
    border-radius: 8px;
    padding: 16px 24px;
    transition: 0.25s;
    font-weight: 600;
    border: 1px solid #024a58;
    margin-right: 16px;
    margin-left: 280px;
  }
  .sign-up-btn {
    background-color: white;
    color: #024a58;
    border-radius: 8px;
    border: 1px solid #024a58;
    padding: 16px 24px;
    font-weight: 600;
  }
}
