/* =============
    Base
============= */

#validation-button {
    margin-top: 100px;
    text-align: center;
}

body {
    background-color: var(--purple);
    main {
        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". hero .";
        #hero {
            grid-area: hero;
        }
    }
}

