/* =============
    Base
============= */

#validation-btn {
  text-align: center;
  margin-top: 100px;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.show-sign-up-container {
  display: flex !important;
}

.hide-x {
  display: none !important;
}

.hide-soccerball {
  display: none !important;
}
